/* discord blurple = #5865F2 */
@font-face {
    font-family: discord;
    src: url(../Whitney-Font/whitney-light.otf);
}
h1{
    font-family: discord;
    color:white;
    text-align: center;
    background-color: #2f3136;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}
.link{
  text-align: center;
}
a:link, a:visited {
  background-color: #5865F2;
  font-family: discord;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #2f3136;
}

/* discord login box */
.loginbox{
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    background-color: #2f3136;

    margin:auto;
    padding: auto;
    width:75%;
    display:table;
    clear:both;
    
    color:white;
    font-family: discord;
}
.column{
    float: left;
    width:50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  #discordInstLogin{
    width:50%;   
  }

  #discordInstLoginDiv{
    margin-top: 10%;
  }


input[type=text]{
    background-color: #2f3136;
    border: solid black;
    border-radius: 5px;
    margin:1px;
    text-align: center;
    color:white;
    width: 95%;
    padding:12px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
input[type=text]:focus{
    border:solid #5865F2;
}
input[type=submit]{
    background-color: #5865F2;
    border-radius: 5px;
    width:100%;
    color:white;
    padding: 12px;
    margin: 2px;
}
/* Specific Day styles to get them looking nice */
/* #Monday{
  float:inline-start;
}
#Sunday{
  float: inline-end;
} */
ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
  }
  li{
    list-style-position: outside;
    padding: 10px;
    display: inline;
  }
/* setting up the two columns of charts */
/* #chartToFill{
  width: 50%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}
#livefeed{
  width: 50%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
} */
.grids{
  width: 50%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}




  
  .daySelect input[type="checkbox"]:not(:checked), 
  .daySelect input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
  }
  
  .daySelect input[type="checkbox"] + label {
    display: list-item;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    background-color: white;
    margin-bottom: 10px;
  }
  
  .daySelect input[type="checkbox"]:checked + label {
    border: 1px solid black;
    color: #5865F2;
    background-color: #5865F2;
  }

  .avalibityChart  {
    border-collapse:collapse;
    border-spacing:0;
    background-color: #2f3136;
  }

.avalibityChart td{border-color:black;
  border-style:solid;border-width:1px;
  font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;
  word-break:normal;
}

.avalibityChart th{border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  color:white;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.avalibityChart .avalibityChart-0lax{text-align:left;
  vertical-align:top
}
