/* discord blurple = #5865F2 */
@font-face {
    font-family: discord;
    src: url(../Whitney-Font/whitney-light.otf);
}
h1{
    font-family: discord;
    color:white;
    text-align: center;
    background-color: #2f3136;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}

/* discord login box */
.loginbox{
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    background-color: #2f3136;

    margin:auto;
    padding: 10px;
    width:75%;
    display:table;
    clear:both;
    
    color:white;
    font-family: discord;
}
.column{
    float: left;
    width:50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #discordInstLogin{
    width:50%;   
  }

  #discordInstLoginDiv{
    margin-top: 10%;
  }

input[type=text]{
    background-color: #2f3136;
    border: solid black;
    border-radius: 5px;
    margin:1px;
    color:white;
    width: 95%;
    padding:12px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
input[type=text]:focus{
    border:solid #5865F2;
}
input[type=submit]{
    background-color: #5865F2;
    border-radius: 5px;
    width:100%;
    color:white;
    padding: 12px;
    margin: 2px;
}