/* discord blurple = #5865F2 */
h1{
    font-family: sans-serif;
    color:white;
    text-align: center;
    background-color: #2f3136;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}

/* discord login box */
.loginbox{
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    background-color: #2f3136;

    margin:auto;
    width:50%;
    display:table;
    clear:both;
    
    color:white;
    font-family: sans-serif;
}
.column{
    float:left;
    width:50%;
}